<div>

  <table class="table">
    <tbody>
      <% items.each do |item| %>
      <tr>
        <td>
          <%= check_box :is_bought, class: "check_box" %>
          <%= label_tag  :is_bought, "#{item.name}" %>
        </td>
        <td><%= link_to "削除", "buy_items/#{item.id}", method: :delete, class: "small" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>