<div>
  <% items.each do |item| %>
    <%= form_with model: item, local: true do |f| %>
      <div class="mr-4">
        <%= f.check_box :is_bought, {class: "check_box"}, true, false %>
        <%#= check_box_tag :"#{item.name}" %>
        <%= label_tag  :"#{item.name}" %>
      </div>
    <% end %>
  <% end %>
</div>