<div class="container mt-5">
  <div class="row">
    <div class="col-lg-9 col-md-12 bg-white border p-5 item-container">

      <div id="items"><%= render "items", items: @items %></div>
      <div id="form"><%= render "item_form", item: @item %></div>
    </div>

    <%= render "layouts/sidebar" %>
  </div>
</div>
