<div class="container mt-5">
  <div class="row">
    <div class="col-9 bg-white border p-5">

      <div id="items"><%= render "items", items: @items %></div>
      <div id="form"><%= render "item_form", item: @item %></div>
    </div>

    <%= render "layouts/sidebar" %>
  </div>
</div>
