<div class="col-lg-9 col-md-12">
  <div class="d-none d-md-block"><%= render "recipes/search_form", title: "ブックマーク検索", q: @q, search_path: bookmark_search_path %></div>

  <div class="mb-3"><%= render "recipes/tag_list", tags: @tags %></div>

  <% if @results.present? %>
    <%= render "bookmark_index", bookmarks: @bookmarks %>
  <% else %>
    <h3 class="d-table mx-auto mt-5">該当するレシピはありません</h3>
  <% end %>

  <div class="d-table mx-auto mt-3"><%= paginate @results %></div>
</div>