<div class="container mt-5">
  <div class="col-10 offset-1">

    <h3>レシピ検索</h3>
    <%= search_form_for @q, url: bookmark_search_path do |f| %>
      <div class="mb-3"><%= render "recipes/search_form", f: f %></div>
    <% end %>

    <div class="mb-3"><%= render "recipes/tag_list", tags: @tags %></div>

    <% if @resulys.present? %>
      <%= render "recipes/recipe_index", resipes: @results %>
    <% else %>
      <h3 class="d-table mx-auto">該当するレシピはありません</h3>
    <% end %>
  </div>
</div>