<div class="col-lg-9 col-md-12">
  <div class="d-none d-md-block"><%= render "recipes/search_form", title: "ブックマーク検索", q: @q, search_path: bookmark_search_path %></div>

  <%= render "recipes/tag_list", tags: @tags %>

  <% if @bookmarks.present? %>
    <%= render "bookmark_index", bookmarks: @bookmarks %>
  <% else %>
    <h3 class="d-table mx-auto mt-5">ブックマークしたレシピはありません</h3>
  <% end %>
</div>