<div class="col-lg-9 col-md-12">
  <div class="d-none d-md-block"><%= render "recipes/search_form", title: "ブックマーク検索", q: @q, search_path: bookmark_search_path %></div>

  <%= render "recipes/tag_list", tags: @tags %>

  <%= render "bookmark_index", bookmarks: @bookmarks %>
  <div class="d-table mx-auto mt-3"><%= paginate @bookmarks %></div>
</div>