<div class="nested-fields">
  <div class="d-flex mb-2">
    <%= text_field_tag :recipe, '',class: 'js-text_field form-control form-control-sm mr-2', placeholder: 'マイレシピを検索' %>
    <%= f.collection_select :recipe_id, current_user.recipes, :id, :name, { prompt: "レシピを選択" }, {class: "form-control form-control-sm"} %>
    <%= link_to_remove_association "#{icon "fas", "trash-alt"}".html_safe, f, class: "js-log-remove-btn ml-2 violet" %>
  </div>
  <div class="js-recipes"></div>
  <script>add_form()</script>
</div>