<div class="nested-fields">
  <div class="d-flex mb-2">
    <%= f.collection_select :recipe_id, current_user.recipes, :id, :name, {}, {class: "form-control form-control-sm"} %>
    <%= link_to_remove_association "#{icon "fas", "trash-alt"}".html_safe, f, class: "js-log-remove-btn ml-2 violet" %>
  </div>
</div>