<div class="container">
  <div class="row">
    <%= render "layouts/page_title", title: "マイメニュー編集" %>

    <div class="col-8 offset-2">
      <%= render "menu_form", menu: @menu %>
    </div>
  </div>
</div>


