<div class="container">
  <div class="row">
    <div class="d-flex mb-3 ml-5">
      <%= render "layouts/page_title", title: "マイメニュー編集" %>
      <%= render "layouts/errors", obj: @menu %>
    </div>

    <div class="col-8 offset-2">
      <%= render "menu_form", menu: @menu %>
    </div>
  </div>
</div>


