<div class="container">
  <div class="row">
    <%= render "layouts/page_title", title: "マイメニュー" %>

    <div class="col-10 offset-1">
      <div class="mx-2">
        <% @menus.each do |menu| %>
          <%= attachment_image_tag menu, :recipe_image, size: '250x200', format:'jpeg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
