<div class="container">
  <div class="row">
    <%= render "layouts/page_title", title: "マイメニュー" %>

    <div class="col-10 offset-1">
      <% @menus.each do |menu| %>
        <%= attachment_image_tag 
    </div>
  </div>
</div>
