<div class="container">
  <div class="row">
    <div class="d-flex menus-title">
      <%= render "layouts/page_title", title: "マイメニュー" %>
      <%= render "menu_sort_form", menu_q: @menu_q %>
    </div>

    <div class="col-lg-9 col-md-12">
      <%= render "menu", menus: @menus %>
    </div>
    <%= render "layouts/sidebar" %>
  </div>
</div>
