<div class="nested-fields">
  <div class="d-flex align-items-center">
    <%= f.text_area :description, size: "50x3", placeholder: "作り方を順番に入力してください", class: "form-control form-control-sm d-inline-block mb-2" %>
    <%= link_to_remove_association "#{icon "fas", "trash-alt"}".html_safe , f, class: "js-log-remove-btn ml-3 h5 violet" %>
    <i class="fas fa-arrows-alt-v h5 ml-3 mt-1 text-secondary"></i>
  </div>
</div>