<div class="nested-fields">
  <div><%= f.text_area :description, size: "50x5", placeholder: "手順#{@num}" %></div>
  <% @num += 1 %>
  <%#= link_to_remove_association "削除", f, class: "btn btn-sm btn-secondary" %>
</div>