<div class="nested-fields">
  <div class="d-flex mb-2">
    <div><%= f.text_field :name, class: "mr-3", placeholder: "玉ねぎ" %></div>
    <div><%= f.text_field :quantity, placeholder: "1/2個" %></div>
    <%#= link_to_remove_association "削除", f, class: "btn btn-sm btn-secondary" %>
  </div>
</div>