<div class="nested-fields">
  <div class="d-flex mb-2">
    <%= f.text_field :name, size: "23", placeholder: "玉ねぎ", class: "form-control form-control-sm mr-2" %>
    <%= f.text_field :quantity, size: "23", placeholder: "1/2個", class: "form-control form-control-sm" %>
    <%= link_to_remove_association "#{icon "fas", "trash-alt"}".html_safe , f, class: "js-log-remove-btn ml-3 h5" %>
    <i class="fas fa-bars ml-3 mt-1 h5"></i>
  </div>
</div>