<% if tags.present? %>
<input type="button" value="タグから探す" onclick="clickBtn()" class="btn btn-sm btn-info mb-2">
  <div id="tag_list" class="mb-4">
    <% tags.each do |tag| %>
      <div class="d-inline-block mr-3">
        <%= link_to "# #{tag.tag_name}", tag_search_path(tag_id: Tag.find_by(tag_name: tag.tag_name)) %>
        (<%= "#{Tag.find_by(tag_name: tag.tag_name).recipes.count}" %>)
      </div>
    <% end %>
  </div>
<% end %>

<!--タグリストの表示切り替え-->
<script>
document.getElementById("tag_list").style.display ="none";

function clickBtn(){
	const tag_list = document.getElementById("tag_list");

	if(tag_list.style.display == "block"){
		tag_list.style.display = "none";
	}else{
		tag_list.style.display = "block";
	}
}
</script>