<% if tags.present? %>
  <div id="tag_list" class="mt-2">
    <% tags.each do |tag| %>
      <div class="d-inline-block mr-3">
        <div><%= link_to "# #{tag.tag_name}", tag_search_path(tag_id: Tag.find_by(tag_name: tag.tag_name)), class: "badge badge-pill badge-success" %></div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="d-flex justify-content-end">
  <button type="button" class="ml-3 my-2 display-btn">
    <i class="fas fa-list" id="display-icon"></i>
  </button>
</div>
