<%= render "layouts/page_title", title: "マイレシピ追加" %>
<div class="d-flex mb-3 ml-5 recipe-form-title flex-block">
  <%= render "layouts/errors", obj: @recipe %>
</div>

<div class="col-lg-9 col-md-12">
  <%= render "recipe_form", recipe: @recipe %>
</div>
