<div class="d-flex">
  <% if @recommend_main.present? %>
    <div>
      <h4>おすすめ主菜レシピ</h4>
      <%= @recommend_main.name %>
    </div>
  <% end %>

  <% if @recommend_sub.present? %>
    <div>
      <h4>おすすめ副菜レシピ</h4>
      <%= @recommend_sub.name %>
    </div>
  <% end %>

  <% if @recommend_soup.present? %>
    <div>
      <h4>おすすめ汁物レシピ</h4>
      <%= @recommend_soup.name %>
    </div>
  <% end %>

</div>