<div class="d-none d-md-block">
  <div class="main-visual-container">
    <div class="main-visual"></div>
  </div>

  <div class="about-container">
    <div class="about"></div>
  </div>

  <div class="trouble-container">
    <div class="trouble"></div>
  </div>

  <div class="PR-container">
    <div class="PR"></div>
  </div>
</div>

<div class="d-block d-md-none">
  <div class="r-main-visual-container">
    <div class="r-main-visual"></div>
  </div>

  <div class="r-about-container">
    <div class="r-about"></div>
  </div>

  <div class="r-trouble-container">
    <div class="r-trouble"></div>
  </div>

  <div class="r-PR-container">
    <div class="r-PR"></div>
  </div>
</div>
