<div class="main-visual-container">
  <div class="main-visual"></div>
</div>

<div class="about-container">
  <div class="about"></div>
</div>

<div class="trouble-container">
  <div class="trouble"></div>
</div>

<div class="PR-container">
  <div class="PR"></div>
</div>