/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7f3;
}

// .search-bg {
//  background-color: #FFF8f2;
//  border: 2px solid #eeeeee;
// }

main {
 font-family: Lato,Hiragino Kaku Gothic ProN,Yu Gothic,Noto Sans CJK JP,Hiragino Sans,sans-serif;
}

a {
color: #000;
}

// ヘッダー
.navbar-brand,
.nav-item {
 letter-spacing: 0.2em;
 color: #efefef;
}

// ページタイトル
.page_title {
 width: 300px;
 height: 200px;
 background-image: image-url("title_bg.png");
 background-size: contain;
 background-position: center;
}

.page_title > h2 {
 letter-spacing: 0.1em;
}

// フッターを最下部に固定
body{
  min-height: 100vh;
  position: relative;
  padding-bottom: 67px;
  box-sizing: border-box;
}

// フッター
footer {
 width: 100%;
 background-color: #ccc5c2;
 position: absolute;
 bottom: 0;
}