// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// レシピ詳細画面の作り方リスト
.directions-list {
  line-height: 3rem;
  list-style-position:inside;
  border-top: 1px solid #dee2e6;
}

// レシピ詳細表示ボタン
#detail-btn {
  margin: 0 auto;
  padding: 0.5rem 1.0rem;
  font-size: 14px;
  background-color: #8895B3;
  border-radius: 3px;
  border: none;
  color: white;
}
#detail-btn:hover {
  background-color: #7784A2;
}